################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/BrainAI-Wrapper/CopilotIndices/17.14.1601.40145
/.vs/BrainAI-Wrapper/FileContentIndex
/.vs/BrainAI-Wrapper/v17
/.vs
